$dark-bg-color: rgba(0, 0, 0, 0.07);

.board-header {
  position: relative;
  min-height: 48px;
  padding: 8px 4px;
  & .board-name {
    color: #fff;
    padding: 0 14px;
    font-weight: 600;
  }
}
.dark-gredint {
  position: absolute;
  top: 42px;
  min-height: 100px;
  width: 100%;
  background-color: $dark-bg-color;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.04) 78%,
    $dark-bg-color 99%
  );
}
