.home {
  min-height: 100vh;
  background-image: url("../../assets/imgs/house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  background-attachment: fixed;
  overflow-x: auto;
}
.home .boards-wrapper {
  gap: 0.5rem;
  padding-left: 8px;
}
