.add-board {
  color: #f8f8f7;
  min-width: 290px;
  min-height: 40px;
  padding-left: 0;
  min-height: fit-content;
  align-items: center;
  // padding: 6px 8px;
  justify-content: flex-start;
  // align-items: center;
}
