//Variables
$light-off-white: hsla(0, 0%, 100%, 0.3);
$darker-off-white: hsla(0, 0%, 100%, 0.2);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
